/*
*
* NEW VIP TABLE 2018 By: John Yonard Pauly
* Email: JY.Pauly.fortfolio@gmail.com
* Facebook: https://www.facebook.com/paulyjohnyonard
* Github: https://www.github.com/yonardpauly
*
*/

/* * {
    border: 1px solid #333;
} */

.jyp {
    background-image: -webkit-radial-gradient(#ffffff, #bbb8b8);
    background-image: radial-gradient(#ffffff, #bbb8b8);
    text-align: center;
    border-radius: 10px;
    padding: 35px 20px 35px
}

.jyp img {
    width: 100%;
    height: auto;
    vertical-align: middle
}

/*
*
* TABLE TYPOGRAPHY COLOR PALLETE
*
*/

.jyp .row h1,
.jyp .row h2 {
    margin-bottom: 0 !important;
    margin-top: 0 !important
}

.jyp .jyp-h1,
.jyp .jyp-h2,
.jyp .jyp-h3,
.jyp .jyp-h4 {
    letter-spacing: -1px;
    font-weight: bold;
    line-height: 1.1;
    vertical-align: middle
}

.jyp .jyp-h1,
.jyp .jyp-h2,
.jyp .jyp-h3,
.jyp .jyp-h4 {
    background: -webkit-linear-gradient(#eee7e0, #e2a75f);
    background: -moz-linear-gradient(#eee7e0, #e2a75f);
    background: linear-gradient(#eee7e0, #e2a75f);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text
}

.row-1 div:not(:first-child) > img {
    transform: scale(1.1, 1.1);
}

.jyp > [class*="row-"]:not(:first-child) > [class*="row-"] {
    display: flex;
    justify-content: center;
}

.jyp .row-3-2 .jyp-h3,
.jyp .row-4-2 .jyp-h3,
.jyp .row-5-2 .jyp-h3,
.jyp .row-6-2 .jyp-h3,
.jyp .row-7-2 .jyp-h3,
.jyp .row-8-2 .jyp-h3,
.jyp .row-9-2 .jyp-h3 {
    background: -webkit-linear-gradient(to right, #110404, #240909);
    background: -moz-linear-gradient(#110404, #240909);
    background: linear-gradient(#110404, #240909);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text
}

.jyp .row-3-3 .jyp-h3,
.jyp .row-4-3 .jyp-h3,
.jyp .row-5-3 .jyp-h3,
.jyp .row-6-3 .jyp-h3,
.jyp .row-7-3 .jyp-h3,
.jyp .row-8-3 .jyp-h3,
.jyp .row-9-3 .jyp-h3 {
    background: -webkit-linear-gradient(to right, #240909, #310d0d);
    background: -moz-linear-gradient(#240909, #310d0d);
    background: linear-gradient(#240909, #310d0d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text
}

.jyp .row-3-4 .jyp-h3,
.jyp .row-4-4 .jyp-h3,
.jyp .row-5-4 .jyp-h3,
.jyp .row-6-4 .jyp-h3,
.jyp .row-7-4 .jyp-h3,
.jyp .row-8-4 .jyp-h3,
.jyp .row-9-4 .jyp-h3 {
    background: -webkit-linear-gradient(to right, #310d0d, #421212);
    background: -moz-linear-gradient(#310d0d, #421212);
    background: linear-gradient(#310d0d, #421212);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text
}

.jyp .row-3-5 .jyp-h3,
.jyp .row-4-5 .jyp-h3,
.jyp .row-5-5 .jyp-h3,
.jyp .row-6-5 .jyp-h3,
.jyp .row-7-5 .jyp-h3,
.jyp .row-8-5 .jyp-h3,
.jyp .row-9-5 .jyp-h3 {
    background: -webkit-linear-gradient(to right, #421212, #521616);
    background: -moz-linear-gradient(#421212, #521616);
    background: linear-gradient(#421212, #521616);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text
}

.jyp .row-3-6 .jyp-h3,
.jyp .row-4-6 .jyp-h3,
.jyp .row-5-6 .jyp-h3,
.jyp .row-6-6 .jyp-h3,
.jyp .row-7-6 .jyp-h3,
.jyp .row-8-6 .jyp-h3,
.jyp .row-9-6 .jyp-h3 {
    background: -webkit-linear-gradient(to right, #521616, #611818);
    background: -moz-linear-gradient(#521616, #611818);
    background: linear-gradient(#521616, #611818);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text
}

/*
*
* HEADER FADING GRADIENT BACKGROUND TO THE RIGHT
*
*/

.row-2-1,
.row-3-1,
.row-4-1,
.row-5-1,
.row-6-1,
.row-7-1,
.row-8-1,
.row-9-1 {
    background: -webkit-linear-gradient(to right, #040404, #181717);
    background: -moz-linear-gradient(to right, #040404, #181717);
    background: linear-gradient(to right, #040404, #181717);
    text-align: center
}

.row-2-2 {
    background: -webkit-linear-gradient(to right, #181717, #242222);
    background: -moz-linear-gradient(to right, #181717, #242222);
    background: linear-gradient(to right, #181717, #242222);
    text-align: center
}

.row-2-3 {
    background: -webkit-linear-gradient(to right, #242222, #302d2d);
    background: -moz-linear-gradient(to right, #242222, #302d2d);
    background: linear-gradient(to right, #242222, #302d2d);
    text-align: center
}

.row-2-4 {
    background: -webkit-linear-gradient(to right, #302d2d, #3d3a3a);
    background: -moz-linear-gradient(to right, #302d2d, #3d3a3a);
    background: linear-gradient(to right, #302d2d, #3d3a3a);
    text-align: center
}

.row-2-5 {
    background: -webkit-linear-gradient(to right, #3d3a3a, #504d4d);
    background: -moz-linear-gradient(to right, #3d3a3a, #504d4d);
    background: linear-gradient(to right, #3d3a3a, #504d4d);
    text-align: center
}

.row-2-6 {
    background: -webkit-linear-gradient(to right, #504d4d, #696666);
    background: -moz-linear-gradient(to right, #504d4d, #696666);
    background: linear-gradient(to right, #504d4d, #696666);
    text-align: center
}

/*
*
* HORIZONTAL GRADIENT BORDERS 
*
*/

.border,
.border-last {
    /* background: linear-gradient(to right, rgba(250, 190, 88, 0.9), rgba(243, 215, 166, 0.9), rgba(250, 190, 88, 0.9)); */
    background:  rgba(250, 190, 88, 0.9);
    height: 10px;
    width: 100%
}

.border,
.border-last {
    box-shadow: 0 1px 2px rgba(34, 31, 31, 0.7)
}

/*
*
* VERTICAL GOLD BORDERS
*
*/

.row-2-1, .row-3-1,
.row-4-1, .row-5-1,
.row-6-1, .row-7-1,
.row-8-1, .row-9-1,
.row-2-2, .row-3-2,
.row-4-2, .row-5-2,
.row-6-2, .row-7-2,
.row-8-2, .row-9-2,
.row-2-3, .row-3-3,
.row-4-3, .row-5-3,
.row-6-3, .row-7-3,
.row-8-3, .row-9-3,
.row-2-4, .row-3-4,
.row-4-4, .row-5-4,
.row-6-4, .row-7-4,
.row-8-4, .row-9-4,
.row-2-5, .row-3-5,
.row-4-5, .row-5-5,
.row-6-5, .row-7-5,
.row-8-5, .row-9-5,
.row-2-6, .row-3-6,
.row-4-6, .row-5-6,
.row-6-6, .row-7-6,
.row-8-6, .row-9-6 {
    border-left: 10px solid rgba(250, 190, 88, 0.9);
    box-shadow: 12px 1px 1px rgba(34, 31, 31, 0.7)
}

.row-2-6,
.row-3-6,
.row-4-6,
.row-5-6,
.row-6-6,
.row-7-6,
.row-8-6,
.row-9-6 {
    border-right: 10px solid rgba(250, 190, 88, 0.9);
    box-shadow: 1px 1px 1px rgba(34, 31, 31, 0.9)
}

@media (min-width: 992px) {
    .row-2 > [class*="row-"] {
        padding-top: 15px;
        padding-bottom: 15px
    }
}

@media (max-width: 991.8px) {
    .row-2 * {
        display: none
    }
}